body {
    background:black;
    margin:0;
    font-family:monospace;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
div.image {
    mix-blend-mode: difference;   
    background-color:#fff;
    transition : opacity 0.5s linear;
}
.blend, div.image {
    position:absolute;
    top:4em;
    left:2em;
    height: 600px;
    width: 900px;
}
.blend {
    background: #151515;
}
div.image { opacity:0 }
div#show {
    opacity:1;
    z-index:1;
    cursor:pointer;
    
}   
button {
    padding-top:0;
    background: white;
    color: black;
    border:none;
    height: 2em;
    cursor: pointer;
    margin-left: 2em;
    font-family:monospace;
}    